*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 110%;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	line-height: 1.5;
}

main {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	height: 100%;
	max-width: 700px;
	margin: 0 auto;
	padding: 1rlh;
	gap: 1rlh;
}

form {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 100%;
}

input {
	height: 100%;
	flex-grow: 1;
	padding: 8px;
	margin: 0;
}

input {
	appearance: none;
	-webkit-appearance: none;
	margin: 0;
	border: 1px solid #000;
}

button {
	height: 100%;
	padding: 8px;
	border: 1px solid #777;
	background-color: #000;
	color: #fff;
	cursor: pointer;
	flex: 0 0 100px;
}

button:hover {
	background-color: #fff;
	color: #000;
}
